# CAMBIO

In [37]:
from cambio import CambioIo
from scipy import stats
import numpy as np

In [ ]:
input_file = input() ## enter path to CAMBio_Tabelle

In [7]:
import pandas as pd

In [11]:
df = pd.read_csv("../../../Documents/manuscripts/AMD/2025_07_24_CAMBio_Tabelle_für_Hannes_Urbat.csv", sep=";")
df

,Alias,Eye,Status,Healthy Retina,No AMD,Group,Early AMD,Dry AMD,Geographic Atrophy,original Aqueous Humor Volume (µL),...,C__2530382_10,Datenüberürfung,Eye.1,Status.1,Healthy Retina.1,No AMD.1,Group.1,Early AMD.1,Dry AMD.1,Geographic Atrophy.1
0,1,L,Completed,Yes,Yes,Control,No,No,No,90,...,G,NaN,L,Completed,Yes,Yes,Control,Yes,Yes,Yes
1,1,R,Completed,Yes,Yes,Control,No,No,No,65,...,G,NaN,R,Lost,No,No,AMD,No,No,No
2,2,L,Completed,Yes,Yes,Control,No,No,No,40,...,AG,NaN,NaN,Excluded,NaN,NaN,NaN,NaN,NaN,NaN
3,2,R,Completed,Yes,Yes,Control,No,No,No,40,...,AG,NaN,NaN,Pending,NaN,NaN,NaN,NaN,NaN,NaN
4,3,L,Completed,Yes,Yes,Control,No,No,No,200,...,AG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
159,100,R,Completed,No,No,AMD,No,Yes,Yes,180,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
160,101,L,Pending,No,Yes,Control,No,No,No,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
161,101,R,Pending,No,Yes,Control,No,No,No,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
162,102,L,Pending,Yes,Yes,Control,No,No,No,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
163,102,R,Pending,Yes,Yes,Control,No,No,No,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
!ls ../../../Documents/manuscripts/AMD/2025_07_24_CAMBio_Tabelle_für_Hannes_Urbat.csv

../../../Documents/manuscripts/AMD/2025_07_24_CAMBio_Tabelle_für_Hannes_Urbat.csv

In [14]:
i = 0
for c in df.columns:
    print(f"{i}) {c}")
    i += 1

0) Alias
1) Eye
2) Status
3) Healthy Retina
4) No AMD
5) Group
6) Early AMD
7) Dry AMD
8) Geographic Atrophy
9) original Aqueous Humor Volume (µL)
10) arrived and freezed
11) measured in NanoFCM
12) storage duration until 1st measurement [days]
13) EV concentration (NanoFCM (part./mL))
14) EV concentration (NanoFCM (part./mL)) 2nd measurement 04.03.2025
15) EV median size ((nm), NanoFCM)
16) EV median size ((nm), NanoFCM) 2nd measurement 04.03.2025
17) Fluorescent Particle Count total CD41a (ExoView)
18) Fluorescent Particle Count total CD63 (ExoView)
19) Fluorescent Particle Count total CD81 (ExoView)
20) Fluorescent Particle Count total CD9 (ExoView)
21) Fluorescent Particle Count FI CD41a (ExoView)
22) Fluorescent Particle Count FI CD63 (ExoView)
23) Fluorescent Particle Count FI CD81 (ExoView)
24) Fluorescent Particle Count FI CD9 (ExoView)
25) Fluorescent Particle Count FH CD41a (ExoView)
26) Fluorescent Particle Count FH CD63 (ExoView)
27) Fluorescent Particle Count FH CD81 (ExoView)
28) Fluorescent Particle Count FH CD9 (ExoView)
29) Fluorescent Particle Count C3 CD41a (ExoView)
30) Fluorescent Particle Count C3 CD63 (ExoView)
31) Fluorescent Particle Count C3 CD81 (ExoView)
32) Fluorescent Particle Count C3 CD9 (ExoView)
33) Fluorescence Intensity FI CD41a (ExoView)
34) Fluorescence Intensity FI CD63 (ExoView)
35) Fluorescence Intensity FI CD81 (ExoView)
36) Fluorescence Intensity FI CD9 (ExoView)
37) Fluorescence Intensity FH CD41a (ExoView)
38) Fluorescence Intensity FH CD63 (ExoView)
39) Fluorescence Intensity FH CD81 (ExoView)
40) Fluorescence Intensity FH CD9 (ExoView)
41) Fluorescence Intensity C3 CD41a (ExoView)
42) Fluorescence Intensity C3 CD63 (ExoView)
43) Fluorescence Intensity C3 CD81 (ExoView)
44) Fluorescence Intensity C3 CD9 (ExoView)
45) Fluorescence per particle FI CD41a (ExoView)
46) Fluorescence per particle FI CD63 (ExoView)
47) Fluorescence per particle FI CD81 (ExoView)
48) Fluorescence per particle FI CD9 (ExoView)
49) Fluorescence per particle FH CD41a (ExoView)
50) Fluorescence per particle FH CD63 (ExoView)
51) Fluorescence per particle FH CD81 (ExoView)
52) Fluorescence per particle FH CD9 (ExoView)
53) Fluorescence per particle C3 CD41a (ExoView)
54) Fluorescence per particle C3 CD63 (ExoView)
55) Fluorescence per particle C3 CD81 (ExoView)
56) Fluorescence per particle C3 CD9 (ExoView)
57) FI Particle Counts CD41a (fraction of total)
58) FI Particle Counts CD63 (fraction of total)
59) FI Particle Counts CD81 (fraction of total)
60) FI Particle Counts CD9 (fraction of total)
61) FH Particle Counts CD41a (fraction of total)
62) FH Particle Counts CD63 (fraction of total)
63) FH Particle Counts CD81 (fraction of total)
64) FH Particle Counts CD9 (fraction of total)
65) C3 Particle Counts CD41a (fraction of total)
66) C3 Particle Counts CD63 (fraction of total)
67) C3 Particle Counts CD81 (fraction of total)
68) C3 Particle Counts CD9 (fraction of total)
69) Co-Lokalisation Counts FI-FH CD41a (fraction of total)
70) Co-Lokalisation Counts FI-FH CD63 (fraction of total)
71) Co-Lokalisation Counts FI-FH CD81 (fraction of total)
72) Co-Lokalisation Counts FI-FH CD9 (fraction of total)
73) Co-Lokalisation Counts FI-C3 CD41a (fraction of total)
74) Co-Lokalisation Counts FI-C3 CD63 (fraction of total)
75) Co-Lokalisation Counts FI-C3 CD81 (fraction of total)
76) Co-Lokalisation Counts FI-C3 CD9 (fraction of total)
77) Co-Lokalisation Counts FH-C3 CD41a (fraction of total)
78) Co-Lokalisation Counts FH-C3 CD63 (fraction of total)
79) Co-Lokalisation Counts FH-C3 CD81 (fraction of total)
80) Co-Lokalisation Counts FH-C3 CD9 (fraction of total)
81) Co-Lokalisation Counts FI-FH-C3 CD41a (fraction of total)
82) Co-Lokalisation Counts FI-FH-C3 CD63 (fraction of total)
83) Co-Lokalisation Counts FI-FH-C3 CD81 (fraction of total)
84) Co-Lokalisation Counts FI-FH-C3 CD9 (fraction of total)
85) RPE lift (Drusen) area 3 mm circle (mm2)
86) RPE lift (Drusen) area 5 mm circle (mm2)
87) RPE lift (Drusen) volume 3 mm circle (mm3)
88) RPE lift (Drusen) volume 5 mm circle (mm3)
89) Age at Admission
90) Birthday
91) Gender
92) Weight (kg)
93) Height (cm)
94) Alcohol Consumption (0-7 days/week)
95) Smoking Status
96) Job (most recent)
97) Sun Exposure   (1-5)
98) Food Vegetables
99) Food Fruit
100) Food Carbs
101) Food OliveOil
102) Food Nuts
103) Food Dairy
104) Food Sweets
105) Food Fish
106) Disease High Blood Pressure
107) Disease Diabetes
108) Disease RA
109) Disease PNH
110) Disease Crohns
111) Disease Bullous Pemphigoid
112) Disease Dermatomyositis
113) Disease Psoriasis
114) Disease Quinckes Edema
115) Disease NMOSD
116) Disease MS
117) Disease Alzheimers
118) Disease Guillain Barre Syndrome
119) Disease Chronic Renal
120) Disease AA Hepatitis
121) Disease AAV
122) Disease Sjoegrens
123) Disease SLE
124) Disease Tumors
125) Disease Infection
126) Other Disease
127) Medication
128) Exclusion CNV
129) Exclusion Anti VEGF
130) Exclusion Vein Occlusion
131) Exclusion Macula Edema
132) Exclusion Myopia
133) Exclusion Macula Foramen
134) Exclusion Genetical Retina Disease
135) Exclusion Uveitis
136) Exclusion Keratoconjunctivitis
137) Exclusion Surgery
138) Genotyped
139) C___8355565_10
140) C___2530373_10
141) C___2530278_10
142) C__26330755_10
143) C__34681305_20
144) C__27473788_10
145) C__29934973_20
146) C__29910029_10
147) C__2530382_10
148) Datenüberürfung
149) Eye.1
150) Status.1
151) Healthy Retina.1
152) No AMD.1
153) Group.1
154) Early AMD.1
155) Dry AMD.1
156) Geographic Atrophy.1

In [19]:
df[["Alias", "Group", "original Aqueous Humor Volume (µL)"]]

     Alias    Group original Aqueous Humor Volume (µL)
0        1  Control                                 90
1        1  Control                                 65
2        2  Control                                 40
3        2  Control                                 40
4        3  Control                                200
..     ...      ...                                ...
159    100      AMD                                180
160    101  Control                                NaN
161    101  Control                                NaN
162    102  Control                                NaN
163    102  Control                                NaN

[164 rows x 3 columns]

In [23]:
groups = df.groupby("Group")["original Aqueous Humor Volume (µL)"].apply(list)

groups

Group
AMD                 [130, 80, nan, nan, 65, 50, 35, 160, 140, 100,...
Control             [90, 65, 40, 40, 200, 160, 35, 120, 200, 50, 5...
Control (Gliose)                                            [70, nan]
Name: original Aqueous Humor Volume (µL), dtype: object

In [40]:
col = "original Aqueous Humor Volume (µL)"

s = df[col].astype(str).str.strip()
# mark strings containing any letters as invalid
mask_alpha = s.str.contains(r'[A-Za-z]', na=False)
s_clean = s.copy()
s_clean[mask_alpha] = np.nan

# now coerce remaining to numeric
df[col] = pd.to_numeric(s_clean, errors="coerce")
#for row, index in groups.iterrows()
groups = (
    df[df["Group"] != "Gliose"]  # exclude Gliose rows
    .groupby("Group")["original Aqueous Humor Volume (µL)"]
    .apply(list)
)
g1, g2 = groups.iloc[0], groups.iloc[1]

In [41]:


t_stat, p_val = stats.ttest_ind(g1, g2, equal_var=False,  nan_policy='omit')  # Welch's t-test
print(f"T-statistic: {t_stat:.4f}, p-value: {p_val:.4g}")

T-statistic: -1.7917, p-value: 0.07534